#!/usr/bin/env bash

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"
# Kill all the tabs in Chrome to free up memory
alias chromekill="ps ux | grep '[C]hrome Helper (Renderer) --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"
# Merge PDF files, preserving hyperlinks, Usage: `mergepdf input{1,2,3}.pdf`
alias mergepdf='gs -q -dNOPAUSE -dBATCH -sDEVICE=pdfwrite -sOutputFile=_merged.pdf'
# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'
# Clear Apple’s System Logs to improve shell startup speed, clear download history from quarantine.
alias clearFiles="sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"
# Ppen Google Chrome
alias chrome='/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome'
# Show IP addresses
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"
# Show active network interfaces
alias ifactive="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"
# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"
# Clean up LaunchServices to remove duplicates in the “Open With” menu
alias lscleanup="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"

# <=================================== Macos configurations ==================================> #
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"     # Show hidden files in Finder
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"    # Hide hidden files in Finder
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder" # Show all desktop icons (useful when presenting)
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"  # Hide all desktop icons (useful when presenting)
alias spotoff="sudo mdutil -a -i off"                                                           # Disable Spotlight
alias spoton="sudo mdutil -a -i on"                                                             # Enable Spotlight
# <=================================== Macos configurations ==================================> #

# <====================== Preparation ======================> #
###############################################################
# Detect which `ls` flavor is in use
if ls --color >/dev/null 2>&1; then # GNU
    export colorflag="--color"
    export LS_COLORS='no=00:fi=00:di=01;36:ln=35:so=32:pi=33:ex=31:bd=34;46:cd=34;43:su=30;41:sg=30;46:tw=30;42:ow=30;43:*.tar=36:*.tgz=36:*.arj=36:*.taz=36:*.lzh=36:*.zip=36:*.z=36:*.Z=36:*.gz=36:*.bz2=36:*.deb=36:*.rpm=36:*.jar=36:*.jpg=32:*.jpeg=32:*.gif=32:*.bmp=32:*.pbm=32:*.pgm=32:*.ppm=32:*.tga=32:*.xbm=32:*.xpm=32:*.tif=32:*.tiff=32:*.png=32:*.mov=32:*.mpg=32:*.mpeg=32:*.avi=32:*.fli=32:*.gl=32:*.dl=32:*.xcf=32:*.xwd=32:*.ogg=32:*.mp3=32:*.wav=32:'
else # macOS
    export colorflag="-G"
    export LSCOLORS='Gxfxcxdxbxegedabagacad'
fi
###############################################################

# <= Common Folder Navigation => #
##################################
alias ..="cd .."                 # Go back 1 directory level (for fast typers)
alias cd..="cd .."               # Go back 1 directory level
alias ...="cd ../.."             # Go back 2 directory levels
alias .3='cd ../../../'          # Go back 3 directory levels
alias .4='cd ../../../../'       # Go back 4 directory levels
alias .5='cd ../../../../../'    # Go back 5 directory levels
alias .6='cd ../../../../../../' # Go back 6 directory levels
alias ~="cd ~"                   # Go Home
alias -- -="cd -"                # Go back to previous folder
##################################

# <======== Network Resources =========> #
##########################################
alias GET="lwp-request -m 'GET'"         # GET
alias HEAD="lwp-request -m 'HEAD'"       # HEAD
alias POST="lwp-request -m 'POST'"       # POST
alias PUT="lwp-request -m 'PUT'"         # PUT
alias DELETE="lwp-request -m 'DELETE'"   # DELETE
alias TRACE="lwp-request -m 'TRACE'"     # TRACE
alias OPTIONS="lwp-request -m 'OPTIONS'" # OPTIONS
##########################################

# <=========== Other Commands ===========> #
############################################
alias plistbuddy="/usr/libexec/PlistBuddy" # plistbuddy
alias now="date '+%Y-%m-%d %H:%I:%S'"      # current time
alias nows="date '+%s'"                    # current timestamp
############################################

# <=================== Folder Navigation ===================> #
###############################################################
alias e="cd ~/Code/env && clear"                              # Docker/Vagrant/Kubernetes
alias dl="cd ~/Downloads && clear"                            # Download
alias dt="cd ~/Desktop && clear"                              # Desktop
alias one="cd ~/OneDrive && clear"                            # OneDrive
alias p="cd ~/Code/projects && clear"                         # projects
alias pc="cd ~/Code/projects/c && clear"                      # C projects
alias pcpp="cd ~/Code/projects/cpp && clear"                  # CPP projects
alias pphp="cd ~/Code/projects/php && clear"                  # PHP projects
alias ppython="cd ~/Code/projects/python && clear"            # Python projects
alias pjava="cd ~/Code/projects/java && clear"                # Java projects
alias pjs="cd ~/Code/projects/javascript && clear"            # JavaScript projects
alias pshell="cd ~/Code/projects/shell && clear"              # Shell projects
alias pgo="cd ~/Code/projects/go && clear"                    # go projects
alias ic="cd ~/Library/Mobile\ Documents/com~apple~CloudDocs" # icloud
###############################################################
# <=========================================================> #

# <=============== Preferred Commands ==================> #
###########################################################
alias cp='cp -iv'                                         # Preferred 'cp' implementation
alias mv='mv -iv'                                         # Preferred 'mv' implementation
alias mkdir='mkdir -p'                                    # Preferred 'mkdir' implementation
alias less='less -FSRXc'                                  # Preferred 'less' implementation
alias ls='command ls ${colorflag}'                        # colorful ls
alias l='ls -lF ${colorflag}'                             # List all files colorized in long format
alias la='ls -lAF ${colorflag}'                           # List all files colorized in long format, excluding . and ..
alias lsd='ls -lF ${colorflag} | grep --color=never "^d"' # List only directories
alias grep='grep --color=auto'                            # Always enable colored `grep` output
alias fgrep='fgrep --color=auto'                          # Always enable colored `fgrep` output
alias egrep='egrep --color=auto'                          # Always enable colored `egrep` output
alias python3="PYTHONPATH=. python3"                      # Always append current dir to PYTHONPATH when exec python scripts
alias pdflatex='pdflatex -shell-escape'                   # Preferred 'pdflatex' implementation
###########################################################

# <==================== Useful Commands ====================> #
###############################################################
alias editHosts='sudo vim /etc/hosts'                         # Edit /etc/hosts file
alias qfind="find . -name "                                   # Quickly search for file
alias sudo='sudo '                                            # Enable aliases to be sudo’ed
alias week='date +%V'                                         # Get week number
alias c="tr -d '\n' | pbcopy"                                 # Trim new lines and copy to clipboard: `cat filename | c`
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete" # Delete all .DS_Store files recursively
alias path='echo -e ${PATH//:/\\n}'                           # Print all paths
alias reload='exec ${SHELL} -l'                               # Reload shell
alias map="xargs -n1"                                         # Intuitive map function, For example, to list all directories that contain a certain file: `find . -name .gitattributes | map dirname`
###############################################################

# <======================= Check sum =======================> #
###############################################################
command -v hd >/dev/null || alias hd="hexdump -C"       # hd
command -v md5sum >/dev/null || alias md5sum="md5"      # md5
command -v sha1sum >/dev/null || alias sha1sum="shasum" # shasum
###############################################################

# <==================== Network Commands ===================> #
###############################################################
alias ip="dig +short myip.opendns.com @resolver1.opendns.com" # ip:           Public real IP
alias myip='curl https://api.myip.com'                        # myip:         Public Proxied IP
alias netCons='lsof -i'                                       # netCons:      Show all TCP/IP sockets
alias flushDNS='dscacheutil -flushcache'                      # flushDNS:     clear DNS cache
alias lsock='sudo /usr/sbin/lsof -i -P'                       # lsock:        show opened sockets
alias lsockU='sudo /usr/sbin/lsof -i -n -P | grep UDP'        # lsockU:       show opened UDP sockets
alias lsockT='sudo /usr/sbin/lsof -i -n -P | grep TCP'        # lsockT:       show opened TCP sockets
alias localip="ipconfig getifaddr en0"                        # localip:      show local ip
alias ipInfo0='ipconfig getpacket en0'                        # ipInfo0:      en0 info
alias ipInfo1='ipconfig getpacket en1'                        # ipInfo1:      en1 info
alias openPorts='sudo lsof -i | grep LISTEN'                  # openPorts:    show sockets with LISTEN state
###############################################################
